<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @progress.value %>
</p>

<p>
  <strong>User:</strong>
  <%= @progress.user_id %>
</p>

<p>
  <strong>Source:</strong>
  <%= @progress.source %>
</p>

<p>
  <strong>Model:</strong>
  <%= @progress.model %>
</p>

<%= link_to 'Edit', edit_progress_path(@progress) %> |
<%= link_to 'Back', progresses_path %>
