<div class='row-fluid' id="app_form">
  <div class='span12'>

<div class="well">
  <h4> Последние сформированные выгрузки </h4>
  <% if !@reports.empty? %>
  <table id="reports" class="table table-condensed table-striped" style="border-collapse: collapse;
          border-spacing: 0; width: 100%;">
    <tbody>
    <% @reports.each do |report| %>
        <tr>
          <td><%= report.title %></td>
          <td> <a href=<%= "#{report.url}"%>>Скачать</a></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <% else %>
      <table id="reports" class="table table-condensed table-striped" style="border-collapse: collapse;
              border-spacing: 0; width: 100%;">
        <tbody>
        <tr><td> В настоящий момент выгрузки отсутствуют. Укажите период, необходимые поля для выгрузки и нажмите "Выгрузка -> Выгрузить в формате Excel", чтобы сформировать выгрузку <td></tr>
        </tbody>
      </table>
  <% end %>
  </div>

  </div>
</div>



