- code = rand(99999)

= form_for(@user) do |f|
  .field
    = f.text_field :email, placeholder: :Email, style: "width: 90%"
  .field
    = f.hidden_field :password, value: ("a83wfj3i2qqq#{code}"[/.{5}$/] + "123")
  .field
    = f.text_field :partner_source, placeholder: :"Название\ партнёра", style: "width: 90%"
  .field
    = f.hidden_field :access_token, value: ("a83wfj3i2qqq#{code}")

  .actions
    a id="add_partner_button" style="cursor: pointer; width: 84%" class="btn btn-success" Добавить партнёра
    = f.submit 'Добавить партнёра', controller: 'users', action: "create", id: 'add_button', style: "display:none; cursor:pointer"