<div class="container" id="main_container">
  <% Notification.current(cookies.signed[:hidden_notification_ids]).each do |notification|%>
      <%= div_for notification, class: "row-fluid" do %>
          <div class="span12">
            <div class="well" style="color: red; background: lightgoldenrodyellow;">
              <div style="margin-top: 1rem">
                <span> <%= notification.title == "" ? "Выполняются технические работы" : "#{notification.title}" %> </span>
                <%= link_to 'X', hide_notification_path(notification), remote: true, style: "float: right" %>
              </div>
            </div>
          </div>
      <%end%>
  <%end%>
</div>