div class='container'
  div class='row-fluid' id="users_form"
    div class='span12'
      div class="well"
        h4 Редактировать данные о партнёре
        = form_for(@user) do |f|
          .field
            = f.text_field :email, placeholder: :Email
          = select(:user, :status, [['Тестовый статус', "test"], ['Активный статус', "active"]])

          .field
            = f.hidden_field :password, value: ("a83wfj3i2qqq#{@user.access_token}"[/.{5}$/] + "123")

          .actions
            a id="update_partner_button" style="cursor: pointer;" class="btn btn-success" Обновить данные
            = f.submit 'Обновить данные', controller: 'users', action: "update", id: 'update_button', style: "display:none; cursor:pointer", remote: true, method: :post
        = link_to 'Назад', users_path