div class='container'
  div class='row-fluid' id="users_form"
    div class='span3'
      div class="well"
        h4 Добавить партнёра
        = render 'form'
      = form_tag file_uploads_users_path, style: "border: 1px solid #ccc; background: #efefef; background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4)); background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 ); box-shadow: 0 2px 5px rgba(0,0,0,0.15); -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15); -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);", class: "dropzone well", id: "my_dropzone", html: { multipart: true, remote: true, authencity_token: true} do
        h4 Добавить отказные телефоны
        p class="dz-message btn btn-success" style="width: 100%" Загрузить базу телефонов
      = form_tag phones_users_path, style: "border: 1px solid #ccc; background: #efefef; background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4)); background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 ); box-shadow: 0 2px 5px rgba(0,0,0,0.15); -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15); -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);", class: "dropzone well", id: "my_dropzone", html: { multipart: true, remote: true, authencity_token: true} do
        h4 Добавить телефоны клиентов
        p class="dz-message btn btn-success" style="width: 100%" Загрузить файлы csv
      div class="well"
        h4 Отправить уведомление пользователям
        = form_tag(send_broadcast_users_path, remote: true) do
          = text_field_tag :message, nil, placeholder: :Message, style: "width: 90%"
          = submit_tag 'Отправить уведомление', class: "btn btn-success", style: "width: 98%"

    div class='span9' style="margin-left: 0.5rem"
      div class="well" style="margin-left: 0; width: 95%;"
        h4 Список партнёров
        table class="table table-condensed table-hover table-bordered"
          thead
            tr
              th ID
              th Email
              th Название партнёра
              th Access token
              th Статус
              th Редактировать
              - if current_user.email == "davydenkov.mihail@gmail.com"
                th Удалить партнёра

          tbody
            - @users.each do |user|
              tr class=(user.status == "test" ? "not_valid" : "spl_positive")
                td= user.id
                td= user.email
                td= user.partner_source
                td= user.access_token
                td= (user.status == "test" ? "Тест" : "Активный")
                td= link_to 'Редактировать', edit_user_path(user)
                - if current_user.email == "davydenkov.mihail@gmail.com"
                  td= link_to 'Удалить партнёра', user, method: :delete, data: "confirm: 'Are you sure?'"

