- if current_user.admin?
  table#leads_table.table.table-bordered.table-condensed style="font-size: 80%" data-source="#{ leads_url(format: 'json') }"
    thead
      tr
        /  th ID
        /  th Внешний ID
        th Фамилия, имя, отчество
        th Телефон
        th Город
        /  th Регион
        th Результат проверки
        th Результат обработки
        /  th Описание
        /  th Источник трафика
        /  th Рекламная компания
        th Партнёр
        /  th Сумма
        th Дата валидации
        th Дата обработки
        th
    tbody