<div class='row-fluid' id="app_form">
  <div class='span12'>
<div class="well">
<h4> Таблица заявок </h4>
<table class="table table-condensed table-hover table-bordered table-striped" id="leads_table" style="font-size: 70%;">
  <thead>
      <tr>

        <% @lead_ids.each do  |selected_option| %>
            <% cache selected_option do %>
            <% case selected_option
                 when 'ID' %> <th> ID </th>
            <% when 'Внешний_ID' %> <th>Внешний ID</th>
            <% when 'Внешний_IP' %> <th>Внешний IP</th>
            <% when 'SPL_ID' %> <th>ID в SPL</th>
            <% when'ФИО' %> <th> ФИО </th>
            <% when 'Телефон' %> <th> Телефон</th>
            <% when 'Город' %> <th>Город </th>
            <% when 'Регион' %> <th>Область</th>
            <% when 'Результат_обработки' %> <th>Результат обработки</th>
            <% when 'Результат_проверки' %> <th>Результат проверки</th>
            <% when 'Описание' %> <th>Описание</th>
            <% when 'Внешний_ID' %> <th>Внешний ID</th>
            <% when 'Источник_трафика' %> <th>Источник трафика</th>
            <% when 'Рекламная_компания' %> <th>Рекламная компания</th>
            <% when 'Партнёр' %> <th>Партнёр</th>
            <% when 'Сумма' %> <th>Сумма</th>
            <% when 'Продукт' %> <th>ID Продукта</th>
            <!--<% when 'Is_test' %> <th>Is_test</th>-->
            <% when 'Дата_создания' %> <th>Дата создания</th>

      <% end %>
          <% end %>
          <% end %>

      </tr>
  </thead>
  <tbody>
      <% @leads.each_with_index do |lead, index| %>
      <% cache lead do %>
            <tr>

            <% @lead_ids.each do  |selected_option| %>

                <%  case selected_option
                   when 'ID' %> <td><%= lead.id || "-" %></td>
                <% when 'Внешний_ID' %> <td><%= lead.external_id || "-" %></td>
                <% when 'Внешний_IP' %> <td><%= lead.external_ip || "-" %></td>
                <% when 'SPL_ID' %> <td><%= lead.id_in_spl || "-" %></td>
                <% when 'ФИО' %> <td><%= lead.fio || "-" %></td>
                <% when 'Телефон' %> <td><%= lead.phone || "-" %></td>
                <% when 'Город' %> <td><%= lead.city || "-" %></td>
                <% when 'Регион' %> <td><%= lead.region || "-" %></td>
                <% when 'Результат_обработки' %> <td><%= lead.spl_status || "-" %></td>
                <% when 'Результат_проверки' %> <td><%= lead.lead_status || "-" %></td>
                <% when 'Описание' %> <td><%= lead.description || "-" %></td>

                <% when 'Источник_трафика' %> <td><%= lead.traffic_source || "-" %></td>
                <% when 'Рекламная_компания' %> <td><%= lead.ad_company || "-" %></td>
                <% when 'Партнёр' %> <td><%= lead.partner_source || "-"%></td>
                <% when 'Сумма' %> <td><%= lead.amount || "-"%></td>
                <% when 'Продукт' %> <td><%= lead.product_id || "-" %></td>
                <!--<% when 'Is_test' %> <td><%= lead.is_test || "-" %></td>-->
                <% when 'Дата_создания' %> <td><%= lead.created_at.strftime("%d.%m %H:%M:%S") || "-" %></td>

            <% end %>

            <% end %>

          </tr>
      <% end %>
      <% end %>
  </tbody>
</table>
  <%= will_paginate @leads %>
    </div>
  </div>
</div>