<a id="show_stat" class="btn btn-success">Показать статистику</a>
<%= submit_tag 'Показать статистику', controller: 'leads', action: "import", id: 'show_apps', style: "display:none; cursor:pointer",
               remote: true, method: :post%>

<div class="span2" style="margin-top: 4px; display: none">
  <br />
  <select class="selectpicker span6" data-style="btn" name="lead_ids[]" multiple data-selected-text-format="count>2"
          title="Поля для выгрузки" data-width="105%" id="select_fields">


    <% @fields_for_uploading.each_pair do |key, value| %>
        <% if (current_user.admin?) %>
            <% unless %W[is_test?].include?(value) %>
                <option selected><%= key %></option>
            <% end %>
        <% else %>
            <% unless %W[access_token is_test].include?(value) %>
                <option selected><%= key %></option>
            <% end %>
        <% end %>
    <% end %>
  </select>
</div>

