<div class="btn-group">
  <a class="btn  btn-success dropdown-toggle" id="statistic_menu" data-toggle="dropdown">
    Выгрузка
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" style="margin-left: -108%; text-align: left">
    <li> <a id="excel_download" tabindex="-1" style="cursor: pointer;">Выгрузить в формате Excel</a></li>
    <li> <%= submit_tag 'Выгрузить в формате Excel', controller: 'leads', action: "import", id: "download_to_xlsx",
                        style: "display:none; cursor:pointer;", remote: true, method: :post %></li>

    <li> <a id="csv_download" tabindex="-1" style="cursor: pointer;" >Выгрузить в формате CSV</a></li>
    <li> <%= submit_tag 'Выгрузить в формате CSV', controller: 'leads', action: "import", id: "download_to_csv",
                        style: "display:none; cursor:pointer", remote: true, method: :post %></li>

    <% if current_user.admin? %>
    <li> <a id="excel_download_processed" tabindex="-1" style="cursor: pointer;">Выгрузить обработанные в формате Excel</a></li>
    <li> <%= submit_tag 'Выгрузить обработанные данные в формате Excel', controller: 'leads', action: "import", id: "download_to_xlsx_processed",
                        style: "display:none; cursor:pointer;", remote: true, method: :post, only_processed: true %></li>

    <li> <a id="csv_download_processed" tabindex="-1" style="cursor: pointer; only_processed: true" >Выгрузить обработанные в формате CSV</a></li>
    <li> <%= submit_tag 'Выгрузить обработанные данные в формате CSV', controller: 'leads', action: "import", id: "download_to_csv_processed",
                        style: "display:none; cursor:pointer", remote: true, method: :post%></li>
    <% end %>
  </ul>
</div>