<div class='row-fluid'>

  <div class='span12'>
<div id="annual">
  <div class="well">
    <%= content_tag :div, "", style: "height: 400px;", id: "last_apps", data: {leads: Lead.chart_data(first_day: session[:created_at_first], last_day: session[:created_at_last], current_user: current_user, counters: @counters)} %>
  </div>
</div>
</div>
</div>
