
table class="table-condensed table-bordered table-striped" style="margin: 0 auto; width: 98%;"
  thead
  tbody
    tr
      td ID заявки
      td=@lead.id || '-'
    tr
      td ФИО
      td=@lead.fio || '-'
    tr
      td Телефон
      td=@lead.phone || '-'
    tr
      td Город
      td=@lead.city || '-'
    tr
      td Регион
      td=@lead.region || '-'
    tr
      td Результат валидации
      td=@lead.lead_status || '-'
    tr
      td Результат обработки
      td=@lead.spl_status || '-'
    tr
      td Описание
      td=@lead.description || '-'
    tr
      td Источник траффика
      td=@lead.traffic_source || '-'
    tr
      td Рекламная компания
      td=@lead.ad_company || '-'
    tr
      td Название партнёра
      td=@lead.partner_source || '-'
    tr
      td Сумма
      td=@lead.amount || '-'
    tr
      td Дата валидации
      td=@lead.created_at || '-'
    tr
      td Дата обработки
      td=@lead.updated_at || '-'
    tr
      td Внешний ID
      td=@lead.external_id || '-'
    tr
      td ID продукта
      td=@lead.product_id || '-'
    tr
      td ID в SPL
      td=@lead.id_in_spl || '-'