<% if @phones %>
    <% if current_user.admin? %>
        <% if false%>
            <h1> Таблица телефонов </h1>
            <table class="table table-condensed table-hover table-bordered table-striped" id="leads_table">
              <thead>
              <tr>
                <th>Номер телефона</th>
                <th>Partner</th>

              </tr>
              </thead>
              <tbody>
              <% @phones.each_with_index do |phone, index| %>
                  <tr>
                    <td><%= phone.phone %></td>
                    <td><%= phone.partner %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

            <%= will_paginate @phones%>

        <% end %>
    <% end %>
<% end %>