<div class='row-fluid'>
<div class='span12'>
<div class="well">

<h4> Cтатистика по обработке </h4>

<%if @lead_decorator.processed_dates.empty? %>
    <table id="stat_table" class="table table-condensed table-striped" style="border-collapse: collapse; border-spacing: 0; width: 100%; font-size: 80% ">
      <tbody>
      <tr><td> Статистики за указанный период не обнаружено. Укажите период и нажмите "Показать статистику", чтобы сформировать статистику. <td></tr>
      </tbody>
    </table>
<% else %>

    <table class="table table-condensed table-hover table-bordered" id="stat_table">
      <thead>
      <tr>
        <th> </th>
        <% @lead_decorator.processed_dates.each do |date| %>
            <th><%= date.strftime("%d.%m") %></th>
        <% end %>
        <th><%= 'Всего' %></th>
      </tr>
      </thead>

      <tbody>

      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %>  <td class="spl_positive" > <%= "Принята (кредит выдан)" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_11.include?(date) %>
                <td class="spl_positive" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_positive" > <%= @lead_decorator.spl_status_11_count[j]%></td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_positive"> <%= @lead_decorator.spl_status_11_count_summ || 0 %> </td>
      </tr>


      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %>  <td class="spl_positive" > <%= "Принята (анкета заполнена)" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_9.include?(date) %>
                <td class="spl_positive" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_positive" > <%= @lead_decorator.spl_status_9_count[j]%></td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_positive"> <%= @lead_decorator.spl_status_9_count_summ || 0 %> </td>
      </tr>

      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %> <td class="spl_positive" ><%= "Принята" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_10.include?(date) %>
                <td class="spl_positive" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_positive" > <%= @lead_decorator.spl_status_10_count[j]%></td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_positive"> <%= @lead_decorator.spl_status_10_count_summ || 0 %> </td>
      </tr>

      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %>  <td class="spl_negative" > <%= "Анкета отклонялась ранее" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_1.include?(date) %>
                <td class="spl_negative" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_negative" > <%= @lead_decorator.spl_status_1_count[j]%> </td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_negative"> <%= @lead_decorator.spl_status_1_count_summ || 0 %> </td>
      </tr>

      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %>  <td class="spl_negative" ><%= "Не кредитуемый район / регион" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_2.include?(date) %>
                <td class="spl_negative" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_negative" > <%= @lead_decorator.spl_status_2_count[j]%></td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_negative"> <%= @lead_decorator.spl_status_2_count_summ || 0 %> </td>
      </tr>

      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %>  <td class="spl_negative" ><%= "Нужен другой кредитный продукт (не кредитный продукт)" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_3.include?(date) %>
                <td class="spl_negative" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_negative" > <%= @lead_decorator.spl_status_3_count[j]%></td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_negative"> <%= @lead_decorator.spl_status_3_count_summ || 0 %> </td>
      </tr>

      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %>  <td class="spl_negative" > <%= "Возраст" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_4.include?(date) %>
                <td class="spl_negative" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_negative" > <%= @lead_decorator.spl_status_4_count[j]%></td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_negative"> <%= @lead_decorator.spl_status_4_count_summ || 0 %> </td>
      </tr>

      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %>  <td class="spl_negative" ><%= "СТОП-Условие" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_5.include?(date) %>
                <td class="spl_negative" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_negative" ><%= @lead_decorator.spl_status_5_count[j]%></td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_negative"> <%= @lead_decorator.spl_status_5_count_summ || 0 %> </td>
      </tr>

      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %>  <td class="spl_negative" > <%= "Не оставлял заявку, кредит не нужен" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_6.include?(date) %>
                <td class="spl_negative" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_negative" > <%= @lead_decorator.spl_status_6_count[j]%></td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_negative"> <%= @lead_decorator.spl_status_6_count_summ || 0 %> </td>
      </tr>

      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %> <td class="spl_negative" > <%= "Некорректные данные" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_7.include?(date) %>
                <td class="spl_negative" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_negative" > <%= @lead_decorator.spl_status_7_count[j]%></td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_negative"> <%= @lead_decorator.spl_status_7_count_summ || 0 %> </td>
      </tr>

      <tr>
        <% j = 0 %>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>

            <% if i == 0 %>  <td class="spl_negative" ><%= "Недозвон" %> </td> <% end %>

            <% if @lead_decorator.diff_in_processed_dates_spl_status_8.include?(date) %>
                <td class="spl_negative" > <%= "0" %> </td> <% next %>
            <% else %>
                <td class="spl_negative" > <%= @lead_decorator.spl_status_8_count[j]%></td>
                <% j += 1%>
            <% end %>

        <% end %>
        <td  class="spl_negative"> <%= @lead_decorator.spl_status_8_count_summ || 0 %> </td>
      </tr>

      <tr>
        <% @lead_decorator.processed_dates.each_with_index do |date, i| %>
            <% if i == 0 %>  <td><%= "Всего" %></td> <% end %>
            <td><%= @lead_decorator.total_processed_count[i] %></td>
        <% end %>
        <td> <%= @lead_decorator.total_processed_count_summ || 0 %> </td>
      </tr>

      </tbody>
    </table>

<% end %>

</div>
</div>
</div>



