<div class='row-fluid'>
  <div class='span12'>
    <div class="well">

<h4> Cтатистика по валидации </h4>

<%if @lead_decorator.dates_for_statistic.empty? %>
        <table id="stat_table" class="table table-condensed table-striped" style="border-collapse: collapse;
                border-spacing: 0; width: 100%; font-size: 80%">
          <tbody>
          <tr><td> Статистики за указанный период не обнаружено. Укажите период и нажмите "Показать статистику", чтобы сформировать статистику. <td></tr>
          </tbody>
        </table>
<% else %>

     <table class="table table-condensed table-hover table-bordered" id="stat_table">
  <thead>
      <tr>
        <th> </th>
        <% @lead_decorator.dates_for_statistic.each do |date| %>
            <th><%= date.strftime("%d.%m") %></th>
        <% end %>
        <th><%= 'Всего' %></th>
      </tr>
  </thead>

  <tbody>



  <tr>
    <% j = 0 %>
    <% @lead_decorator.dates_for_statistic.each_with_index do |date, i| %>

        <% if i == 0 %>  <td class="valid"> <%= "Прошла валидацию" %> </td> <% end %>

        <% if @lead_decorator.diff_in_dates_accepted.include?(date) %>
            <td class="valid"> </td> <% next %>
        <% else %>
            <td  class="valid"><%= @lead_decorator.accepted_count[j]%></td>
            <% j += 1%>
        <% end %>

    <% end %>
    <td  class="valid"> <%= @lead_decorator.accepted_count_summ || 0 %> </td>
  </tr>



  <tr >
    <% j = 0 %>
    <% @lead_decorator.dates_for_statistic.each_with_index do |date, i| %>

        <% if i == 0 %>   <td class="not_valid" > <%= "Дубль" %> </td> <% end %>

        <% if @lead_decorator.diff_in_dates_repeat.include?(date) %>
            <td class="not_valid" > <%= "0" %> </td> <% next %>
        <% else %>
            <td class="not_valid" > <%= @lead_decorator.repeat_count[j] %></td>
            <% j += 1%>
        <% end %>

    <% end %>
    <td  class="not_valid"> <%= @lead_decorator.repeat_count_summ || 0 %> </td>
  </tr>

  <tr>
    <% j = 0 %>
    <% @lead_decorator.dates_for_statistic.each_with_index do |date, i| %>

        <% if i == 0 %> <td class="not_valid" > <%= "Дубль собственный" %> </td> <% end %>

        <% if @lead_decorator.diff_in_dates_repeat_self.include?(date) %>
            <td class="not_valid" > <%= "0" %> </td> <% next %>
        <% else %>
            <td class="not_valid" > <%= @lead_decorator.repeat_self_count[j] %></td>
            <% j += 1%>
        <% end %>

    <% end %>
    <td  class="not_valid"> <%= @lead_decorator.repeat_self_count_summ  || 0 %> </td>
  </tr>

  <tr>
    <% j = 0 %>
    <% @lead_decorator.dates_for_statistic.each_with_index do |date, i| %>

        <% if i == 0 %>  <td class="not_valid" ><%= "Ошибка валидации" %> </td> <% end %>

        <% if @lead_decorator.diff_in_dates_not_valid.include?(date) %>
            <td class="not_valid" > <%= "0" %> </td> <% next %>
        <% else %>
            <td class="not_valid" > <%= @lead_decorator.not_valid_count[j]%></td>
            <% j += 1%>
        <% end %>

    <% end %>
    <td  class="not_valid"> <%= @lead_decorator.not_valid_count_summ || 0 %> </td>
  </tr>

  <%if false%>
      <% j = 0 %>
      <% @lead_decorator.dates_for_statistic.each_with_index do |date, i| %>

          <% if i == 0 %>  <td class="not_valid" > <%= "Отклонено" %> </td> <% end %>

          <% if @lead_decorator.diff_in_dates_not_accepted.include?(date) %>
              <td class="not_valid" > <%= "0" %> </td> <% next %>
          <% else %>
              <td class="not_valid" ><%= @lead_decorator.not_accepted_count[j]%></td>
              <% j += 1%>
          <% end %>

      <% end %>
  <%end %>

  <tr>
        <% @lead_decorator.dates_for_statistic.each_with_index do |date, i| %>
            <% if i == 0 %>  <td><%= "Всего" %></td> <% end %>
            <td><%= @lead_decorator.total_count[i] %></td>
        <% end %>
    <td> <%= @lead_decorator.total_count_summ || 0 %> </td>
  </tr>

  </tbody>
</table>

  <% end %>

    </div>
  </div>
</div>



