<h3> Статистика за период </h3>

<li><%= "Принято заявок: #{@count_accepted_per_user}"%></li>
<li><%= "Отклонено заявок: #{@count_declined_per_user}"%></li>
<li><%= "Получено заявок: #{@count_per_user}"%></li>
<% if current_user.admin? %>
    <li><%= "Всего заявок в системе: #{@count_total}"%></li>
<% end %>
<br />
