<div class='row-fluid group'>

    <%= form_tag import_leads_path, method: :post, remote: true, class: "group" do %>

        <div class="well group">

           <div class="calendar_inputs span4" >
             <div class="calendar-block">
             <label class="control-label"> Начало периода: </label>
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input class="span7" name="created_at_first" id="created_at_first" type="text" title="" data-content="Заполните поле" trigger="manual">
                  </div>
             </div>
             <div class="calendar-block">
                  <label class="control-label"> Завершение периода: </label>
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input class="span7" name="created_at_last" id="created_at_last" type="text" title="" data-content="Заполните поле" trigger="manual">
                  </div>
             </div>
           </div>

          <% if (current_user.admin?) %>
              <div class="partner_select span2">
                <select class="selectpicker" data-style="btn" name="client_ids[]" multiple data-selected-text-format="count>0" data-live-search="true"
                        title="Партнёр" data-width="95%" id="select_client_id">
                  <% @clients_list.each_with_index do |field, index| %>
                      <option><%= field %></option>
                  <% end %>
                </select>
                <label class="checkboxWrap" >
                    <input type="checkbox" id="checked_partners" />
                    <span> Выбрать всех партнёров </span>
                </label>
              </div>
          <% else %>

          <% end %>

          <% if params[:uploading_apps] %>
          <div class="upload_field_select span2" >
            <select class="selectpicker span6" data-style="btn" name="lead_ids[]" multiple data-selected-text-format="count>2"
                    title="Поля для выгрузки" data-width="105%" id="select_fields">
              <% @fields_for_uploading.each_pair do |key, value| %>
                  <% if (current_user.admin?) %>
                      <% unless %W[is_test?].include?(value) %>
                          <option selected><%= key %></option>
                      <% end %>
                  <% else %>
                      <% unless %W[access_token is_test].include?(value) %>
                          <option selected><%= key %></option>
                      <% end %>
                  <% end %>
              <% end %>
            </select>
          </div>
            <div class="span2"> </div>
          <% else %>
            <div class="span4"> </div>
          <% end %>

          <div class="scoring-button-group span2">
            <% if params[:uploading_apps] %>
                <%= render '/leads/partials/btn_group_uploading'%>
            <% else %>
                <%= render '/leads/partials/btn_group_statistics'%>
            <% end%>
          </div>
          <br><br><br>
        </div>

    <% end %>

    </div>