<div class='container'>

<%= render 'leads/partials/top_control_form' %>

  <% if params[:uploading_apps] %>
      <%= render "/reports/partials/download_form" %>

      <% if @lead_ids && current_user.admin? %>
          <div class='row-fluid' id="app_form">
            <div class='span12'>
              <div class="well">
                <h4> Таблица заявок </h4>
                  <%= render "/leads/partials/apps_table" %>
                  <%= render "/leads/partials/phone_table" %>
                </div>
              </div>
            </div>
      <% end %>
  <% elsif params[:processed_statistics]%>
      <%= render "/leads/partials/processed_stat_table" %>
  <% else %>
      <%= render "/leads/partials/stat_table" %>
  <% end %>

  <div id="lead-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidder="true">
    <div class="modal-header"></div>
    <div class="modal-body"></div>
  </div>

</div>