<%= render 'leads/partials/modal_body'%>


<!--


<p>
  <strong>Fio:</strong>
  <%= @lead.fio %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lead.phone %>
</p>

<p>
  <strong>City:</strong>
  <%= @lead.city %>
</p>

<p>
  <strong>Region:</strong>
  <%= @lead.region %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @lead.access_token %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
-->
