$('div#lead-modal').modal();
$('div.modal-header').html('<%= escape_javascript(render partial: 'leads/partials/modal_header', object: @lead ) %>');
$('div.modal-body').html('<%= escape_javascript(render partial: 'leads/partials/modal_body', object: @lead ) %>');
