<div class="row-fluid">

  <div class="span4"> </div>
  <div class="span6" id="sign_in_form">

    <form class="form-inline">

    </form>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), display: "inline-block") do |f| %>
        <form class="form-horizontal">
          <div class="control-group">

            <label class="control-label" for="inputEmail"> Логин</label>
            <div class="controls">

              <%= f.email_field :email, :autofocus => true %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword"> Пароль</label>
            <div class="controls">
              <%= f.password_field :password %></div>
          </div>

          <div class="control-group">

              <div><%= f.submit "Войти", class: 'btn btn-primary btn-success', id: 'sign_in_button' %></div>

          </div>
        </form>
    <% end %>

    <!--  <%= render "devise/shared/links" %>-->

    </article>
  </div>

</div>

