
<h4> Уважаемый партнёр!</h4>

<p> Благодарим Вас за регистрацию в системе Scoring и предлагаем Вам ознакомиться с инструкцией по эксплуатации системы Scoring: </p>

<p>
  1. Назначение системы
</p>

<p>
  Система Scoring предназначена для:
</p>
<p>
  - проверки заявок и передачи в систему SPL;
</p>
<p>
  - предоставления графического интерфейса для просмотра статистики о принятых заявках;
</p>
<p>
  - формирования отчётов о принятых и отклонённых заявках.
</p>

<p>
  2. Отправление и приём заявок
</p>
<p>
  Адрес, на котором функционирует система Scoring - scoring.banklife.org
</p>
<p>
  2.1. Приём заявок через API
</p>
<p>
  Для приёма заявок система Scoring предоставляет API по адресу scoring.banklife.org/api/leads.
  Данные должны быть отправлены в виде POST-запроса.
</p>
<p>
  2.1.1. Список параметров для POST-запроса
</p>

<table class="table-condensed table-striped">
  <thead>
  <td> <b>Параметр</b> </td>
  <td> <b>Значение </b></td>
  <td> <b>Описание </b></td>
  </thead>
  <tbody>
  <tr>
    <td> fio
    <td> Иванов Иван Иванович
    <td> ФИО
  </tr>
  <tr>
    <td> phone
    <td> 89161112223333
    <td> Телефон
  </tr>
  <tr>
    <td> partner_source
    <td> <%= "#{@user.partner_source}"%>
    <td> Название партнёра
  </tr>
  <tr>
    <td> access_token
    <td> <%= "#{@user.access_token}"%>
    <td> Указывать для отправки POST-запроса
  </tr>
  <tr>
    <td> city
    <td> Красноуфимск
    <td> Город
  </tr>
  <tr>
    <td> region
    <td> Свердловская область
    <td> Регион
  </tr>
  <tr>
    <td> external_id
    <td> 5234235
    <td> ID в системе партнёра
  </tr>
  <tr>
    <td> traffic_source
    <td> Название компании
    <td> Источник траффика
  </tr>
  <tr>
    <td> ad_company
    <td> Название компании
    <td> Рекламная компания
  </tr>
  <tr>
    <td> product_id
    <td> 1
    <td> ИД продукта
  </tr>
  <tr>
    <td> amount
    <td> 100000
    <td> Сумма
  </tr>
  </tbody>
</table>
<p>
  request["Content-Type"] = "application/x-www-form-urlencoded"
</p>


<%= image_tag(asset_path("example.png")) %>

<p>
  2.1.2. Обязательные параметры POST запроса
</p>
<p>
  Параметры fio, phone, city, partner_source и access_token являются обязательными для передачи.
  Поле access_token может передаваться в HTTP header'е или как один из параметров.
</p>
<p>
  Acсess_token выдаётся после заведения партнёра в систему.
</p>

<p>
  2.1.3. JSON ответы на POST-запрос
</p>
<p>
  По результатам приёма заявки системы могут быть сформированы следующие варианты ответов в формате JSON:
</p>
<p>
  1) Заявка принята. Возвращаются положительный JSON-ответ:
</p>
<p>
  - "статус - Прошла валидацию, внешний ID заявки (в системе партнёра) - 552341, внутренний ID (в Scoring) - 63edc810-8d7c-11e3-a1e2-50465da5dddb"
</p>
<p>
  2) Заявка не принята, так как невалидна. Возвращается отрицательный JSON-ответ:
</p>
<p>
  - "Анкета заполнена некорректно. Обязательные поля отсутствуют или содержат недопустимые символы". (см п.2.2.2)
</p>
<p>
  3) Заявка не принята, так как заявка с таким номером телефона уже принята ранее от другого партнёра. Возвращается отрицательный JSON-ответ:
</p>
<p>
  - "Дубль"
</p>
<p>
  4) Заявка не принята, так как заявка с таким номером телефона уже принята ранее от данного партнёра. Возвращается отрицательный JSON-ответ:
</p>
<p>
  - "Дубль собственный"
</p>
<p>
  2.2 Приём заявок с формы.
</p>
<p>
  Также система осуществляет приём заявок с формы, размещённой по адресу credit.banklife.org
  (http://credit.banklife.org или http://credit.banklife.org/?vertical=true)
</p>
<p>
  Заполните поля и нажмите кнопку отправить.
</p>
<p>
  2.3 Порядок обработки заявок в Scoring
</p>
<p>
  После получения заявки системой Scoring она будет перенаправлена в систему SPL, если пройдёт валидацию.
  Далее по результатам обработки в SPL Scoring получает уведомления о состоянии заявки и устанавливает статус, соответствующий результату обработки в SPL
  ("Результат обработки").
</p>
<p>
  Чтобы посмотреть данные о принятой заявке зайдите по адресу scoring.banklife.org
  и укажите email и пароль, присланные Вам в письме. Далее см. п.3 Просмотр статистики и формирование отчётов.
</p>
<p>

  3. Просмотр статистики и формирование отчётов
</p>
<p>

  - Введите логин и пароль на главной страницы системы по адресу scoring.banklife.org.
</p>
<p>
  3.1. Статистика
</p>
<p>
  - Укажите период и нажмите "Показать статистику", чтобы сформировать статистику.
</p>
<p>
  3.2. Выгрузки и заявки
</p>
<p>
  - Укажите период и "Поля для выгрузки".
</p>
<p>
  - Нажав на кнопку "Выгрузка" выберите предпочитаемый формат.
</p>
<p>
  3.3. Завершение работы
</p>
<p>
  - Для завершения работы нажмите "Выйти", чтобы завершить сеанс работы с графическим интерфейсом.
</p>
<p>


