<h4> Уважаемый партнёр!</h4>

<p> Вы зарегестрированы в системе Scoring! </p>
<br>
   <p> Информация для входа в scoring.banklife.org для Вашей учётной записи:</p>
   <p> Email: <%= "#{@user.email}"%> </p>
   <p> Пароль: <%= "#{@user.access_token}"[/.{5}$/] + "#{123}"%> </p>
<br>
   <p> Параметры, которые необходимо передавать в теле POST-запроса</p>
   <p> Параметр partner_source: <%= "#{@user.partner_source}"%> </p>
   <p> Параметр access_token: <%= "#{@user.access_token}"%> </p>
<br>
  <p> Предлагаем Вам ознакомиться с инструкцией по эксплуатации системы Scoring: </p>
<br>
<p>
  1. Назначение системы
</p>

<p>
  Система Scoring предназначена для:
</p>
<p>
  - проверки заявок;
</p>
<p>
  - предоставления графического интерфейса для просмотра статистики о принятых заявках;
</p>
<p>
  - формирования отчётов о принятых и отклонённых заявках.
</p>

<br>
<p>
  2. Отправление и приём заявок
</p>
<p>
  Адрес, на котором функционирует система Scoring - scoring.banklife.org
</p>
<br>
<p>
  2.1. Приём заявок через API
</p>
<p>
  Для приёма заявок система Scoring предоставляет API по адресу scoring.banklife.org/api/leads.
  Данные должны быть отправлены в виде POST-запроса.
</p>
<br>
<p>
  2.1.1. Список параметров для POST-запроса
</p>

<table class="table-condensed table-striped">
    <thead>
    <td> <b>Параметр</b> </td>
    <td> <b>Значение </b></td>
    <td> <b>Описание </b></td>
    </thead>
    <tbody>
    <tr>
      <td> fio
      <td> Иванов Иван Иванович
      <td> ФИО
    </tr>
    <tr>
      <td> phone
      <td> 9163671122
      <td> Телефон
    </tr>
    <tr>
      <td> partner_source
      <td> <%= "#{@user.partner_source}"%>
      <td> Название партнёра
    </tr>
    <tr>
      <td> access_token
      <td> <%= "#{@user.access_token}"%>
      <td> Указывать для отправки POST-запроса
    </tr>
    <tr>
      <td> city
      <td> Красноуфимск
      <td> Город
    </tr>
    <tr>
      <td> region
      <td> Свердловская область
      <td> Регион
    </tr>
    <tr>
      <td> external_id
      <td> 5234235
      <td> ID в системе партнёра
    </tr>
    <tr>
      <td> traffic_source
      <td> Название компании
      <td> Источник траффика
    </tr>
    <tr>
      <td> ad_company
      <td> Название компании
      <td> Рекламная компания
    </tr>
    <tr>
      <td> product_id
      <td> 1
      <td> ИД продукта
    </tr>
    <tr>
      <td> amount
      <td> 100000
      <td> Сумма
    </tr>
    </tbody>
  </table>

<br>

<p>
  2.1.2. Обязательные параметры POST запроса
</p>
<p>
  Параметры fio, phone, city, partner_source и access_token являются обязательными для передачи.
  Поле access_token может передаваться в HTTP header'е или как один из параметров.
</p>
<br>
<p>
  2.1.3. JSON ответы на POST-запрос
</p>
<p>
  По результатам приёма заявки системы могут быть сформированы следующие варианты ответов в формате JSON:
</p>
<p>
  1) Заявка принята. Возвращаются положительный JSON-ответ:
</p>
<p>
  - "статус - Прошла валидацию, внешний ID заявки (в системе партнёра) - 552341, внутренний ID (в Scoring) - 63edc810-8d7c-11e3-a1e2-50465da5dddb"
</p>
<p>
  2) Заявка не принята, так как невалидна. Возвращается отрицательный JSON-ответ:
</p>
<p>
  - "Анкета заполнена некорректно. Обязательные поля отсутствуют или содержат недопустимые символы". (см п.2.2.2)
</p>
<p>
  3) Заявка не принята, так как заявка с таким номером телефона уже принята ранее от другого партнёра. Возвращается отрицательный JSON-ответ:
</p>
<p>
  - "Дубль"
</p>
<p>
  4) Заявка не принята, так как заявка с таким номером телефона уже принята ранее от данного партнёра. Возвращается отрицательный JSON-ответ:
</p>
<p>
  - "Дубль собственный"
</p>
<br>
<p>
  3. Просмотр статистики и формирование отчётов
</p>
<p>
  - Введите логин и пароль на главной страницы системы по адресу scoring.banklife.org.
</p>
<br>
<p>
  3.1. Статистика
</p>
<p>
  - Укажите период и нажмите "Показать статистику", чтобы сформировать статистику.
</p>
<br>
<p>
  3.2. Выгрузки и заявки
</p>
<p>
  - Укажите период и "Поля для выгрузки".
</p>
<p>
  - Нажав на кнопку "Выгрузка" выберите предпочитаемый формат.
</p>
<br>
<p>
  3.3. Завершение работы
</p>
<p>
  - Для завершения работы нажмите "Выйти", чтобы завершить сеанс работы с графическим интерфейсом.
</p>
<p>


