html {
  overflow-y: scroll;
}

.black_container {
  background: #000000;
  height: 38px;
}

/* Group fix*/
.group:before, .group:after {content: ""; display: table;};
.group:after {clear: both;};
.group { zoom: 1; };

.row-fluid {
  form {margin: 0 auto;}
  .well {
    margin: 0 0 0.3rem 1rem;
    padding: 0 2rem 1.2rem 2rem;
    height: 100%;
    .calendar_inputs {
      margin-left: -0.5rem;
      display: inline;
      width: 17rem;
      label {white-space: nowrap; font-size: 0.8rem;}
      input {z-index: 1; width: 50%; font-size: 0.6rem;}
      .calendar-block {display: inline-block; width: 8rem; margin: 3% auto;};
    };
    .partner_select {
      margin: 2.1rem 0 0 0;
      display: block;
      margin-left: -0.5rem;
      white-space: nowrap;
      .bootstrap-select.btn-group {margin: 0 auto;}
      label {margin-top: -0.25rem;}
      select {background-color: white; margin: 0 auto;}
      span {font-size: 80%; }
    }
    .upload_field_select {
      margin: 2.1rem 0 0 0;
    };
    .scoring-button-group {
      margin: 2.1rem 0 0 -0.625rem;
      text-align: center;
      cursor: pointer;
      float:right;
      white-space: nowrap;
      width: 6rem;
      #show_stat {width: 8.5rem; float: right}
    };
  };
}

#checkbox_fields {
  background: rgba(78, 154, 197, 0.22);
}

#download_field {
  background: rgba(62, 202, 52, 0.15);
}

body {
  //background: rgba(146, 186, 102, 0.10);
  background-image: image-url("bg.jpg")
}

table {
  th {
    background: rgba(229, 252, 230, 0.39);
    background: -moz-linear-gradient(top, #FFFFFF 0%, rgba(229, 252, 230, 0.39) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%, rgba(229, 252, 230, 0.39)));
    background: -o-linear-gradient(top, #ffffff 0%,rgba(229, 252, 230, 0.39) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='rgba(229, 252, 230, 0.39)',GradientType=0 );
  .ui-icon {display: none;}
  }
  tr { background: rgba(229, 252, 230, 0.39) }
}

.popover {
  background-color: rgba(255, 105, 35, 0.29);
}

.valid {
  background-color: lightcyan
}

.not_valid {
  background-color: lightpink
}

.spl_negative {
  background-color: lightgoldenrodyellow
}

.spl_positive {
  background-color: rgba(107, 255, 54, 0.26)
}

.button-action {
  background: rgba(107, 255, 54, 0.26)
}

.not_valid_light {
  background-color: rgba(255, 182, 193, 0.22)
}

.dropzone {
  background-color: rgba(107, 255, 54, 0.26)
}

.well {
  border: 1px solid #ccc;
  //padding: 20px 20px 2px 20px;
  background: #efefef;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
  background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  //margin: 0 0 20px 0;
}

.navbar .brand { cursor: default;font-weight: bold; margin-left: 2.5rem; padding: 0.5rem 0;}
a.brand:hover { color: black}
