

<table>
<!--  <div id="nprogress" style="display: none">
    <div class="spinner" role="spinner"><div class="spinner-icon"></div></div>
    <div class="bar" role="bar"><div class="peg" style="width: 0px;"></div></div>
  </div>-->
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td> <a href=<%= "#{report.url}"%>>Скачать</a></td>
      </tr>
    <% end %>
  </tbody>
</table>


