<!DOCTYPE html>
<html>

<% if signed_in? %>
    <div class="navbar navbar-fixed-top" id="top_nav">
        <div class="navbar-inner">
            <div class="container">
            <a class="brand" style="cursor: default;font-weight: bold" href="/leads">Scoring</a>
                <ul class="nav pull-right">
                  <li> <%= link_to "Статистика по валидации", leads_path, method: "get" %> </li>
                  <li><%= link_to "Статистика по обработке", leads_path(processed_statistics: true), method: "get" %> </li>
                  <li><%= link_to "Выгрузки и заявки", leads_path(uploading_apps: true), method: "get" %> </li>
                  <% if current_user.admin? %>
                      <li><%= link_to "Управление партнёрами", users_path, method: "get" %> </li>
                  <% end %>
                  <li><%= link_to "Выйти", destroy_user_session_path, method: "delete" %> </li>
                </ul>
            </div>
        </div>
    </div>
<% end %>

<head>
  <title>Scoring</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
  <!-- javascript_include_tag "application", "http://scoring.banklife.org:9292/faye.js", "data-turbolinks-track" => true -->
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div style="height: 2.85rem"> </div>

<%= render partial: 'users/show_message'%>

<%= yield %>
</body>

</html>
